body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.4;
  background-color: #fff;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-gradient {
  background: linear-gradient(100deg, #ddb99c 0%, #909090 100%);
  color: rgb(221, 185, 156);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
