*,
*::before,
*::after {
  outline-color: $default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
}

.lock-scroll {
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-gradient {
  background: linear-gradient(100deg, #ddb99c 0%, #909090 100%);
  color: rgb(221, 185, 156);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  position: relative;
  display: block;
  width: 257px;
  height: 86px;
  padding: 0;
  border-radius: 38px;
  font-family: "Cocogoose", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  outline-color: $default;
  background-image: url('../images/button-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff5ed;
  @extend %animation;

  &::before {
    content: '';
    position: absolute;
    width: 54px;
    height: 49px;
    background: url('../images/icons/heart.svg');
    background-repeat: no-repeat;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.phone {
  position: relative;
  display: block;
  padding: 10px 25px 10px 65px;
  border-radius: 27px;
  font-size: 25px;
  color: #959191;
  background-color: #fdfbf8;
  @extend %animation;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/phone-icon.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 7px;
    left: 10px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}