.footer {
  padding-top: 10px;
  padding-bottom: 45px;
  background-color: #f8f8f8;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px 15px;
      grid-template-areas:
        "footer__logo-box footer__list-wrapper footer__list-wrapper"
        "footer__box footer__box footer__box";
      
      .footer__logo-box {
        grid-area: footer__logo-box;
      }

      .footer__list-wrapper {
        grid-area: footer__list-wrapper;
      }

      .footer__box {
        grid-area: footer__box;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "footer__logo-box"
      "footer__list-wrapper"
      "footer__box";
    }

    @media (max-width: 475px) {
      display: block;
    }
  }

  &__logo-box {
    text-align: center;

    @media (max-width: 1200px) {
      text-align: left;

      .footer__logo-descr {
        padding-left: 25px;
      }
    }

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__logo-box {
    max-width: 170px;

    @media (max-width: 475px) {
      margin-bottom: 20px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 15px;
  }

  &__logo-descr {
    font-size: 12px;
    color: #bcbcbc;
  }

  &__list-wrapper {
    min-width: 450px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 475px) {
      min-width: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    @media (max-width: 475px) {
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;
    padding-left: 15px;
    color: #959191;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      top: 7px;
      left: 0;
      border-radius: 50%;
      background-color: $default;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__item--privacy {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__link--privacy {
    color: #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
  }

  &__address {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #75706f;
  }

  &__address-time {
    display: block;
    margin-bottom: 20px;
    color: #959191;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      justify-content: start;
    }
  }

  &__social-item {
    @extend %animation;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @media (max-width: 475px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__address-box {
    margin-right: 60px;

    @media (max-width: 475px) {
      margin-right: 0;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 20px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #6c6766;
    background-color: transparent;

    &::before {
      left: 0;
    }
    @media (max-width: 600px) {
      &::before {
        display: none;
      }

      padding-left: 0;
    }
  }

  &__button {
    margin: 0;
    margin-left: 55px;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    color: $default;
    border: 1px solid transparent;
    border-bottom: 1px solid $default;
    text-transform: uppercase;
    letter-spacing: 2px;
    @extend %animation;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }
}