.map {
  padding-top: 95px;
  padding-bottom: 60px;
  text-align: center;

  @media (max-width: 600px) {
    padding-top: 60px;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-family: "Annabelle", sans-serif;
    font-size: 60px;
    color: $default;

    @media (max-width: 600px) {
      font-size: 52px;
    }
  }

  &__title {
    margin-bottom: 75px;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;

    @media (max-width: 600px) {
      margin-bottom: 60px;
      font-size: 30px;
    }
  }

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 450px;

    @media (max-width: 600px) {
      height: 300px;
    }
  }
}