.taxi {
  position: relative;
  padding-bottom: 125px;

  @media (max-width: 475px) {
    padding-bottom: 60px;
  }

  &::before {
    content: url("../images/taxi-bg.png");
    position: absolute;
    bottom: 0;
    left: 11%;
    z-index: 1;

    @media (max-width: 1800px) {
      left: 0;
    }

    @media (max-width: 1440px) {
      left: -45px;
    }

    @media (max-width: 1310px) {
      content: '';
      width: 60%;
      height: 50%;
      left: 0;
      background-image: url("../images/taxi-bg.png");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: 1310px) {
      flex-direction: column;
    }
  }

  &__descr {
    padding-top: 115px;
    padding-left: 60px;

    @media (max-width: 1310px) {
      max-width: 600px;
      margin: 0 auto;
      padding-top: 60px;
      padding-left: 0;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-family: "Annabelle", sans-serif;
    font-size: 60px;
    color: $default;

    @media (max-width: 600px) {
      font-size: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 28px;
    }
  }

  &__promo {
    max-width: 410px;
    font-size: 18px;
    color: #969696;

    @media (max-width: 1310px) {
      margin: 0 auto;
    }
  }

  &__form-container {
    max-width: 570px;
    width: 100%;
    padding-top: 150px;

    @media (max-width: 1310px) {
      max-width: 100%;
      padding-top: 60px;
    }
  }

  &__form-box {
    max-width: 490px;
    width: 100%;
    margin-left: auto;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f8f8;

    @media (max-width: 1310px) {
      max-width: 100%;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @media (max-width: 992px) {
      align-items: center;
    }

    @media (max-width: 600px) {
      padding-right: 0;
    }

    @media (max-width: 475px) {
      padding: 0;
    }
  }

  &__form-inner {
    position: relative;
    padding: 60px 0;
    text-align: center;
    border: 1px solid #eee9e6;
    border-radius: 4px;

    @media (max-width: 1310px) {
      display: flex;
      flex-direction: column;
      padding: 60px;
    }

    @media (max-width: 475px) {
      padding: 20px 0;
    }
  }

  &__form-discount {
    position: absolute;
    top: -45px;
    right: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background-image: url("../images/form-badge.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;

    @media (max-width: 1800px) {
      right: -30px;
    }

    @media (max-width: 1310px) {
      width: 100px;
      height: 100px;
      right: 0;
    }

    @media (max-width: 475px) {
      width: 70px;
      height: 70px;
      right: 0;
    }
  }

  &__discount-num {
    font-family: "Annabelle", sans-serif;
    font-size: 30px;

    @media (max-width: 1310px) {
      font-size: 25px;
    }

    @media (max-width: 475px) {
      font-size: 17px;
    }
  }

  &__discount-text {
    font-size: 14px;
    text-transform: uppercase;

    @media (max-width: 475px) {
      font-size: 12px;
    }
  }

  &__form-promocode {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
    color: #726b6b;

    @media (max-width: 1310px) {
      margin: 0;
    }
    @media (max-width: 475px) {
      font-size: 22px;
    }
  }

  &__form-text {
    margin-bottom: 40px;
    font-size: 18px;
    color: #a19e9e;
  }
}

.form {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__label {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }
  }

  &__label-text {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px dashed $default;
    font-size: 14px;
    color: #afabaa;
  }

  &__input-radio {
    display: none;
  }

  &__input-radio:checked + svg {
    path {
      fill: $default;
    }
  }

  &__input-wrapper {
    position: relative;
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__input {
    padding: 25px 45px 25px 80px;
    border: 1px solid transparent;
    border-radius: 35px;
    font-size: 14px;
  }

  &__input-icon {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 15px;
    left: 15px;
    background-image: url("../images/icons/phone.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__button {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__personal {
    max-width: 265px;
    margin: 0 auto;
    font-size: 14px;
    color: #afabaa;
  }

  &__personal-link {
    color: #e0cab4;
  }
}